@use "sass:map";
@use "@angular/material" as mat;

:host {
  width: 800px;
  margin: auto;
  margin-top: 5rem;
  display: block;
  p {
    text-align: center;
  }
  mat-spinner {
    display: inline-block;
    transform: translateY(200);
  }
}
